Flask==1.0.2
Flask-BasicAuth==0.2.0
gunicorn==19.9.0
Jinja2==2.10
requests==2.22.0
requests-oauthlib==1.2.0
requests-toolbelt==0.7.0
responses==0.10.4
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2

